<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="size-behavior.html">

<dom-module id="avatars-element">
    <link rel="import" type="css" href="/css/avatars.css">

    <template>
        <template is="dom-repeat" items="{{users}}" id="avatarList">
            <div class$="{{computeSizeClassName('avatar')}}" style$="{{computeAvatarImage(item)}}"></div>
        </template>
    </template>

    <script>
        Polymer({
            is: 'avatars-element',
            behaviors: [SizeBehavior],
            hostAttributes: {
                small: false
            },

            properties: {
                users: Array
            },

            computeAvatarImage: function(user) {
                if (!user || !user.avatar) { return ''; }
                return 'background-image: url(' + user.avatar + ');';
            }
        });
    </script>
</dom-module>