<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="label-bar.html">
<link rel="import" href="task-bar.html">
<link rel="import" href="due-date.html">
<link rel="import" href="estimate.html">
<link rel="import" href="attachments.html">
<link rel="import" href="avatars.html">

<dom-module id="card-element">
    <link rel="import" type="css" href="/css/card.css">

    <template>
        <header>
            <label-bar-element small labels="[[card.Labels]]"></label-bar-element>
        </header>

        <p>{{card.title}}</p>

        <footer>
            <div class="information">
                <div class="group">
                    <due-date-element small date="[[card.dueDate]]"></due-date-element>
                    <estimate-element small estimate="[[card.estimate]]"></estimate-element>
                </div>

                <avatars-element small users="[[card.Assignees]]"></avatars-element>
            </div>

            <task-bar-element small tasks="[[card.Tasks]]"></task-bar-element>
        </footer>
    </template>

    <script>
        Polymer({
            is: 'card-element',
            properties: {
                boardId: Number,
                columnId: Number,
                card: Object
            }
        });
    </script>
</dom-module>