<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="card.html">
<link rel="import" href="estimate.html">

<dom-module id="column-element">
    <link rel="import" type="css" href="/css/column.css">

    <template>
        <header>
            <i class="fa fa-arrows column-drag-handle"></i>
            <h2>{{column.title}}</h2>
            <div class="group">
                <estimate-element estimate="[[computeTotalEstimate(column.Cards, column.Cards.*)]]"></estimate-element>
            </div>
        </header>

        <div class="cards">
            <template is="dom-repeat" items="{{column.Cards}}">
                <card-element card="{{item}}"></card-element>
            </template>
        </div>

        <footer>
            <button><i class="fa fa-plus"></i> Add card&hellip;</button>
        </footer>
    </template>

    <script>
        Polymer({
            is: 'column-element',
            properties: {
                column: Object
            },

            ready: function () {
                var that = this;

                function addCard(card, newIndex) {
                    that.splice('column.Cards', newIndex, 0, card);
                }

                function removeCard(oldIndex) {
                    that.splice('column.Cards', oldIndex, 1);
                }

                function updateCardPosition(oldIndex, newIndex) {
                    var card = that.splice('column.Cards', oldIndex, 1)[0];
                    addCard(card, newIndex);
                }

                this.sortableCards = Sortable.create(this.$$('.cards'), {
                    group: 'cards',
                    draggable: 'card-element',
                    ghostClass: 'sortable-ghost',
                    delay: 100,
                    scroll: true,
                    scrollSensitivity: 30,
                    scrollSpeed: 10,

                    onAdd: function(evt) {
                        addCard(evt.item.get('card'), evt.newIndex);
                    },

                    onRemove: function(evt) {
                        removeCard(evt.oldIndex);
                    },

                    onUpdate: function(evt) {
                        updateCardPosition(evt.oldIndex, evt.newIndex);
                    }
                });
            },

            computeTotalEstimate: function (cards, key) {
                if (cards.length === 0) { return 0; }
                return cards
                        .map(function (card) {
                            return card.estimate || 0;
                        })
                        .reduce(function (prev, curr) {
                            prev = prev < 0 ? 0 : prev;
                            curr = curr < 0 ? 0 : curr;
                            return prev + curr;
                        });
            }
        });
    </script>
</dom-module>