<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="composer.html">
<link rel="import" href="card.html">
<link rel="import" href="estimate.html">

<dom-module id="column-element">
    <link rel="import" type="css" href="/css/column.css">

    <template>
        <iron-ajax
                id           = "cardCreator"
                method       = "POST"
                content-type = "application/json"
                handle-as    = "json"
                on-response  = "handleCardCreated"></iron-ajax>
        <iron-ajax
                id           = "cardMover"
                method       = "PUT"
                content-type = "application/json"
                handle-as    = "json"
                on-response  = "handleCardMoved"></iron-ajax>

        <header class="column-drag-handle">
            <h2>{{column.title}}</h2>
            <div class="group">
                <estimate-element estimate="[[computeTotalEstimate(column.Cards, column.Cards.*)]]"></estimate-element>
            </div>
        </header>

        <div class="cards">
            <template is="dom-repeat" items="{{column.Cards}}">
                <card-element board-id="[[boardId]]" column-id="[[column.id]]" card="{{item}}"></card-element>
            </template>
        </div>

        <footer>
            <composer-element
                    id        = "composer"
                    for-which = "Card"
                    caption   = "Add card"></composer-element>
        </footer>
    </template>

    <script>
        Polymer({
            is: 'column-element',
            properties: {
                boardId: Number,
                column: Object
            },

            listeners: {
                createCard: 'createCard'
            },

            ready: function () {
                var that = this;

                function addCard(card, newIndex) {
                    that.splice('column.Cards', newIndex, 0, card);
                    that.moveCard(card.id, newIndex + 1);
                }

                function removeCard(oldIndex) {
                    that.splice('column.Cards', oldIndex, 1);
                }

                function updateCardPosition(oldIndex, newIndex) {
                    var card = that.splice('column.Cards', oldIndex, 1)[0];
                    addCard(card, newIndex);
                }

                this.sortableCards = Sortable.create(this.$$('.cards'), {
                    group: 'cards',
                    draggable: 'card-element',
                    ghostClass: 'sortable-ghost',
                    //delay: 100,   // No delay since it seems to break firefox: https://github.com/RubaXa/Sortable/issues/348
                    scroll: true,
                    scrollSensitivity: 30,
                    scrollSpeed: 10,

                    onAdd: function(evt) {
                        addCard(evt.item.get('card'), evt.newIndex);
                    },

                    onRemove: function(evt) {
                        removeCard(evt.oldIndex);
                    },

                    onUpdate: function(evt) {
                        updateCardPosition(evt.oldIndex, evt.newIndex);
                    }
                });
            },

            computeTotalEstimate: function (cards, key) {
                if (cards.length === 0) { return 0; }
                return cards
                        .map(function (card) {
                            return card.estimate || 0;
                        })
                        .reduce(function (prev, curr) {
                            prev = prev < 0 ? 0 : prev;
                            curr = curr < 0 ? 0 : curr;
                            return prev + curr;
                        });
            },

            createCard: function(e) {
                var title   = e.detail.content;
                var boardId = this.get('boardId');
                var column  = this.get('column');
                var r       = this.$.cardCreator;
                r.url       = '/boards/' + boardId + '/columns/' + column.id + '/cards';
                r.body      = JSON.stringify({ title: title });
                r.generateRequest();
            },

            handleCardCreated: function() {
                this.$.composer.reset();
                this.fire('requestBoardUpdate');
            },

            moveCard: function(cardId, offset) {
                var boardId = this.get('boardId');
                var column  = this.get('column');
                var r       = this.$.cardMover;
                r.url       = '/boards/' + boardId + '/columns/' + column.id + '/cards/' + cardId + '/position';
                r.body      = JSON.stringify({ offset: offset });
                r.generateRequest();
            },

            handleCardMoved: function() {
                this.fire('requestBoardUpdate');
            }
        });
    </script>
</dom-module>