<link rel="import" href="/bower_components/polymer/polymer.html">
<script>
    (function() {
        // Monostate user-data container
        var _user = {};

        Polymer({
            is: 'user-data',

            properties: {
                user: {
                    type: Object,
                    notify: true,
                    value: {}//,
                    //readOnly: true
                }
            },

            created: function() {
                //this.user = _user;
                //_user = { id: 1, name: 'Fnord' };
                //this._setUser(_user);
            },

            login: function(username, password) {
                // For fakes sake, just create an instance here
                _user = { id: 1, name: 'Fnord' };
                this.set('user', _user);
            },

            logout: function() {
                // Also for fakes sake
                _user = null;
                this.set('user', _user);
            },

            loggedIn: function() {
                return _user !== null && _user !== undefined;
            }

        });
    })();
</script>