<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="userdata-behavior.html">
<link rel="import" href="board-top-bar.html">
<link rel="import" href="board-sidebar.html">
<link rel="import" href="column.html">
<link rel="import" href="composer.html">

<dom-module id="board-element">
    <link rel="import" type="css" href="/styles/css/board.css">

    <template>
        <iron-ajax
            id            = "boardLoader"
            content-type  = "application/json"
            handle-as     = "json"
            on-response   = "handleBoardLoaded"></iron-ajax>
        <iron-ajax
                id            = "userAdder"
                method        = "POST"
                content-type  = "application/json"
                handle-as     = "json"
                on-response   = "handleUserAdded"></iron-ajax>
        <iron-ajax
            id            = "columnCreator"
            method        = "POST"
            content-type  = "application/json"
            handle-as     = "json"
            on-response   = "handleColumnCreated"></iron-ajax>
        <iron-ajax
            id           = "columnMover"
            method       = "PATCH"
            content-type = "application/json"
            handle-as    = "json"
            on-response  = "handleColumnMoved"></iron-ajax>


        <div class="board">
            <board-top-bar-element board="{{board}}"></board-top-bar-element>

            <div class="wrapper">
                <div class="columns">
                    <template is="dom-repeat" items="{{board.Columns}}">
                        <column-element board-id="[[board.id]]" column="{{item}}"></column-element>
                    </template>

                    <div>
                        <composer-element
                                id        = "composer"
                                for-which = "Column"
                                caption   = "Add column"></composer-element>
                    </div>
                </div>

                <div class="sidebar">
                    <board-sidebar-element boardId="[[boardId]]" board="{{board}}"></board-sidebar-element>
                </div>
            </div>

        </div>

    </template>

    <script>
        Polymer({
            is: 'board-element',
            properties: {
                boardId: {
                    type: Number,
                    observer: '_boardIdChanged'
                },

                board: {
                    type: Object,
                    readOnly: true
                }
            },

            behaviors: [UserDataBehavior],

            listeners: {
                requestBoardUpdate: 'requestBoardUpdate',
                addUser:            'addUser',
                createColumn:       'createColumn'
            },

            created: function(){
                var that = this;

                this.socket = io('http://localhost:3000');
                this.socket.on('connect', function() {
                    that.socket.emit('watchBoard', { boardId: that.get('boardId')});
                });

                this.socket.on('boardUpdated', function(data) {
                    if (data.id !== that.get('boardId')) { return false; }
                    that._setBoard(data);
                });
            },

            ready: function() {
                var that = this;

                function addColumn(column, index) {
                    that.splice('board.Columns', index, 0, column);
                    that.moveColumn(column.id, index + 1)
                }

                function removeColumn(index) {
                    that.splice('board.Columns', index, 1);
                }

                function updateColumnPosition(oldIndex, newIndex) {
                    var card = that.splice('board.Columns', oldIndex, 1)[0];
                    addColumn(card, newIndex);
                }

                this.sortableColumns = Sortable.create(this.$$('.columns'), {
                    group: 'columns',
                    draggable: 'column-element',
                    handle: '.column-drag-handle',
                    ghostClass: 'sortable-ghost',
                    //delay: 100,   // No delay since it seems to break firefox: https://github.com/RubaXa/Sortable/issues/348
                    scroll: true,
                    scrollSensitivity: 30,
                    scrollSpeed: 10,

                    onAdd: function(evt) {
                        addColumn(evt.item.get('column'), evt.newIndex);
                    },

                    onRemove: function(evt) {
                        removeColumn(evt.oldIndex);
                    },

                    onUpdate: function(evt) {
                        updateColumnPosition(evt.oldIndex, evt.newIndex);
                    }
                });

                this.fire('requestBoardUpdate');
            },

            _boardIdChanged: function(newId, oldId) {
                if (this.socket !== undefined) {
                    this.socket.emit('unwatchBoard', { boardId: oldId });
                    this.socket.emit('watchBoard', { boardId: newId });
                }

                this.fire('requestBoardUpdate');
            },

            requestBoardUpdate: function(e) {
                var boardId = this.get('boardId');
                var r       = this.$.boardLoader;
                r.url       = '/boards/' + boardId;
                r.generateRequest();
            },

            handleBoardLoaded: function(req) {
                // TODO: Error handling when content not provided?
                this._setBoard(req.detail.response);
            },

            addUser: function(e) {
                var user = e.detail;
                var boardId = this.get('boardId');
                var r = this.$.userAdder;
                r.url  = '/boards/' + boardId + '/users';
                r.body = JSON.stringify({ id: user.id });
                r.generateRequest();
            },

            handleUserAdded: function(e) {
                // TODO: Some error handling would be appropriate
                this.fire('requestBoardUpdate');
            },

            createColumn: function(e) {
                var title   = e.detail.content;
                var boardId = this.get('boardId');
                var r       = this.$.columnCreator;
                r.url       = '/boards/' + boardId + '/columns';
                r.body      = JSON.stringify({ title: title });
                r.generateRequest();
            },

            handleColumnCreated: function(req) {
                // TODO: We should find about about errors...
                this.$.composer.reset();
                this.fire('requestBoardUpdate');
            },

            moveColumn: function(columnId, offset) {
                var boardId = this.get('boardId');
                var r       = this.$.columnMover;
                r.url       = '/boards/' + boardId + '/columns/' + columnId;
                r.body      = JSON.stringify([{ op: 'replace', 'path': '/position', value: offset }]);
                r.generateRequest();
            },

            handleColumnMoved: function() {
                this.fire('requestBoardUpdate');
            }
        });
    </script>
</dom-module>