<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="size-behavior.html">

<dom-module id="due-date-element">
    <link rel="import" type="css" href="/styles/css/due-date.css">
    <template>
        <template is="dom-if" if="{{date}}">
            <div class$="{{computeSizeClassName('due-date')}}">
                <i class="fa fa-calendar-o"></i><span>{{formatDate(date)}}</span>
            </div>
        </template>
    </template>

    <script>
        Polymer({
            is: 'due-date-element',
            behaviors: [SizeBehavior],
            properties: {
                date: Date
            },

            formatDate: function(date) {
                if (!date) { return ''; }
                try {
                    date = new Date(Date.parse(date));
                    return date.toLocaleDateString();
                } catch (err) {
                    return '';
                }
            }
        });
    </script>
</dom-module>